body{
	font-family:'Georgia', Times, serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	border-color: #dddddd;
}

/* Global */
.container{
	width:80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
  }

/* Header */
header{
	background-color: #ffffff;
}

#box1{
	border: 1px solid;
	color: #ffffff;
	background: #4aaaa5;
	width: 300px;
    height: 100px;
    text-align: center;
    border-bottom: #cccccc;
}
header a{
	color: #777777;
	text-decoration: none;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header nav{
	float: right;
	margin-top: -55px
}

header a:hover{
	color: #cccccc;
	font-weight: bold;
}

/*Showcase*/
#showcase{
	min-height: 400px;
	background: #ffffff;
	border-color: #dddddd;
	text-align: center;
	color: #777777;
	height: 80%;
	width: 80%;
}


#showcase p{
	font-size: 50px;
	float: left;
}
#content{
	border: 1px solid;
	color: #777777;
	background: #ffffff;
    width: 400px;
    height: 300px;

}

#content h1{
	text-align: center;
}

#content p{
}


#box3{
	border: 1px solid;
	color: #777777;
	background: #ffffff;
    width: 300px;
    height: 200px;
    float: right;

}

#linkedin-icon {
          border: 1px #62ae41 solid;
          border-radius: 10px;
          width: 40px;
          height: 40px;
          margin:4px;
        }

#Github-icon{
          border: 1px #62ae41 solid;
          border-radius: 10px;
          width: 40px;
          height: 40px;
          margin:4px;
}

#Stackoverflow-icon{
	      border: 1px #62ae41 solid;
          border-radius: 10px;
          width: 40px;
          height: 40px;
          margin:4px;
}

.connect{

}

#footer{
	clear: both;
	text-align: center;
	background-color: #666666;
	color: #ffffff;
	}
footer p{
	margin: 0;
	padding: 35px;
}









